body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding: 1rem;
  text-align: start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.grid .text {
  padding: 1rem;
}